:host {
  text-align: center;
  display: grid;
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.bg-gradient {
  background: linear-gradient(to bottom, rgba(53, 64, 79) 10%, rgba(30, 40, 54) 50%, rgba(22, 31, 46) 90%);
  background-size: 10% 10000%;
  animation: shine 2s linear infinite alternate;
  // filter brigtthnes
  filter: brightness(0.9);
}

:host:hover .bg-gradient {
  opacity: 1;
  background: linear-gradient(to bottom, rgba(53, 64, 79, 0.5) 10%, rgba(30, 40, 54) 50%, rgba(22, 31, 46, 0.5) 90%);
  filter: brightness(1);
}

:host:not(:hover) .bg-gradient {
  opacity: 1;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
