

.bg-gradient-animation {
  background-size: 10% 10000%;
  animation: shine 2s linear infinite alternate;
  filter: brightness(0.9);
}

.bg-gradient-animation:hover {
  opacity: 1;
  filter: brightness(1);
}



@keyframes shine {
  to {
    background-position: 200% center;
  }
}
