:host {
  display: flex;
  flex-direction: column;
  // transition: transform 0.2s;
  // transform: scale(1.1);
}
:host:hover {
  // cursor: pointer;
  // transition: transform 0.2s;
}

.shake-animation {
  transform-origin: center;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.invalid-border {
  border-color: red;
}
.invalid-text {
  color: red;
}
