<div class="max-w-3xl center-this mx-auto">
  <div *ngIf="(user$ | async)?.full_name as fullName">
    <div
      *ngIf="royals.includes(fullName)"
      class="profile text-center w-80 rounded-lg dark:bg-gradient-to-r from-violet-700 via-sky-700 to-cyan-900 p-4"
    >
      <h2 class="user-name-o text-2xl name-shine tracking-widest font-mono mb-2">
        {{ (user$ | async)?.custom_claims?.global_name }}
      </h2>
      <!-- <h3>{{ (user$ | async)?.full_name }}</h3> -->
      <div class="flex flex-row text-center">
        <img class="rounded-full mb-2" [src]="(user$ | async)?.avatar_url" alt="User Avatar" />

        <div class="flex flex-col text-lg">
          <p class="mb-1 uppercase stroke-black stroke-3 font-thin text-cyan-950">Rojālais</p>
          <p class="font-semibold mb-1 ml-4">
            <span class="text-red-950 text-2xl">15%</span>
            <span class="text-slate-800 capitalize"> atlaide </span>

            <span class="text-slate-800 capitalize">
              Ietaupījums:
              <span class="whitespace-nowrap"> {{ savings }} € </span>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="orders">
    <h2 class="text-lg font-semibold mb-4">Mani Pasūtījumi</h2>
    <div class="flex flex-col">
      <div *ngFor="let order of orders" class="border-b border-gray-400 p-4">
        <div class="flex items-center space-x-4">
          <img
            [routerLink]="['/product', order.product_id]"
            [src]="order.image"
            alt="Product Image"
            class="w-16 h-16 cursor-pointer"
          />
          <div class="flex flex-col w-full">
            <span class="font-semibold">{{ order.name }}</span>
            <span>{{ order.size }}</span>
            <span>{{ order.price }}</span>
            <!-- <span>{{ order.quantity  }}</span> -->
            <div
            class="flex flex-row justify-center align-middle items-center gap-11"
            >

              
              <div
              class="text-white  py-2 mt-2 rounded text font-black font-serif w-[200px]  border-gray-700 border flex flex-row justify-around"
              >
              <!-- title -->
              <!-- <span class="flex">Grozā:</span> -->
              <!-- remove button -->
              
              <button>
                <button class="remove-item flex" (click)="removeItemFromCart(order)">
                  <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                  >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                </svg>
              </button>
            </button>
            
            <!-- item count -->
            <span class="item-count flex px-2">
              {{ order.quantity }}
            </span>
            <!-- add item -->
            <button class="add-item flex" (click)="addToCart(order)">
              <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
              >
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        </div>
        <button class="text-blue-800" (click)="removeItem(order)">Dzēst
        
        <fa-icon [icon]="faRemove"></fa-icon>
        </button>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

<div class="flex flex-row justify-between text-base whitespace-nowrap">
  <div class="text-white text-center py-2 mt-2 rounded font-black font-serif w-fit px-4 border-gray-700">
    <span>
      <span> Kopā: {{ totalPrice(orders).total }} € </span>
    </span>
  </div>
  <!-- router link to /success -->
  <button
  *ngIf="orders.length"
  [routerLink]="['/success']"
  class="text-white text-center py-2 mt-2 rounded font-black font-serif px-4 bg-gradient-to-r from-orange-900 via-orange-500 to-orange-900 border-gray-700"
    >
      Apstiprināt Pasūtījumu
    </button>
  </div>
</div>
