<div
  #productContainer
  class="product-container flex flex-col justify-center mt-1 shadow-2xl shadow-pink-300 768:grid grid-row-[1fr,320px]"
>
  <!-- image section -->
  <div
    class="image-section flex flex-col content-center 768:justify-center max-w-[480px] 768:max-w-none 768:grid 768:grid-rows-1"
  >
    <!-- pruduct title -->
    <div id="product-title" class="flex flex-col items-center 768:hidden">
      <app-product-category [category]="selected.category"></app-product-category>
      <app-product-name [name]="selected.name"></app-product-name>
      <app-product-price [price]="selected.price" [currency]="selected.currency"></app-product-price>
    </div>

    <div
      id="product-images"
      (touchend)="onSwipeEnd($event)"
      (touchstart)="onSwipeStart($event)"
      class="place-content-center flex flex-col overflow-hidden relative w-full"
    >
      <div class="chevron-container z-10 w-full h-full absolute items-center flex">
        <div
          (click)="back()"
          class="chevron-left justify-start hidden 450:flex w-9 h-16 left-0 absolute items-center hover:bg-gradient-to-r from-neutral-50 to-transparent"
        >
          <app-chevron-left></app-chevron-left>
        </div>
        <div
          (click)="forward()"
          class="chevron-right justify-end w-9 h-16 right-0 absolute items-center hidden 450:flex hover:bg-gradient-to-r to-neutral-50 from-transparent"
        >
          <app-chevron-right></app-chevron-right>
        </div>
      </div>

      <app-product-image [imagePath]="selected.currentImage"></app-product-image>
    </div>
  </div>
</div>
<!-- order section -->
<div class="order-section block 768:flex flex-col items-center justify-center place-self-center ml-4 min-w-[320px]">
  <div id="order-options" class="bg-gray-100 flex flex-col items-center pt-4 pb-4 768:justify-center">
    <div id="selected-options" class="flex flex-col items-center w-full">
      <div class="flex w-full gap-6 flex-col 320:flex-col place-items-center mb-4">
        <div id="product-title" class="768:flex flex-col hidden items-center 1024:flex w-80 pt-3">
          <app-product-category [category]="selected.category"></app-product-category>
          <app-product-name [name]="selected.name"></app-product-name>
        </div>

        <div class="flex flex-row">
          <app-product-image (click)="back()" [imagePath]="selected.previousImage"></app-product-image>

          <app-product-image [imagePath]="selected.currentImage"></app-product-image>

          <app-product-image (click)="forward()" [imagePath]="selected.nextImage"></app-product-image>
        </div>

        <div id="product-tag-grid" class="grid grid-cols-3 gap-4 border border-gray-400 p-4 rounded">
          <div class="text-center font-semibold uppercase">krāsa</div>
          <div class="text-center font-semibold uppercase">Izmērs</div>
          <div class="text-center font-semibold uppercase">Cena</div>

          <div class="text-center">
            <div class="text-center">
              <span>{{ selected.color_name }}</span>
            </div>
          </div>
          <div class="text-center">
            <span>{{ selected.size }}</span>
          </div>
          <div class="text-center">
            <span>{{ selected.price }} €</span>
          </div>
        </div>

        <div id="size-selector" class="grid place-items-center gap-1 w-[90%] max-w-[320px]">
          <ng-container *ngFor="let item of selected.sizes">
            <button
              *ngIf="item.available"
              (click)="selectSize(item)"
              [ngClass]="{
                'selected-button': selected.size === item.size && item.available
              }"
              class="border-x-2 border-y-2 768:flex-row 768:place-content-around rounded-none flex flex-col place-items-center justify-center h-10 w-full border-slate-400"
            >
              {{ item.size }}
            </button>

            <button
              *ngIf="!item.available"
              class="border-x-2 border-y-2 768:flex-row 768:place-content-around rounded-none flex flex-col place-items-center justify-center h-10 w-full text-slate-300 border-slate-300"
            >
              {{ item.size }}
            </button>
          </ng-container>
        </div>
      </div>
    </div>

    <div id="order-actions" class="order-commit-container flex flex-col pt-4 items-center w-full pb-4">
      <form name="emailForm" #emailForm="ngForm" class="flex flex-col w-[90%] max-w-[320px] 768:text-xs">
        <label
          for="email"
          class="block text-sm 768:text-xs mb-2"
          [ngClass]="{'invalid-text': !user.emailValidated && user.email}"
        >
          <span class="text-red-600"> &nbsp;{{ user.validationMessage }}</span>
        </label>
        <input
          id="email"
          type="email"
          [(ngModel)]="user.email"
          name="emailInput"
          [ngClass]="{'invalid-border': !user.emailValidated && user.email}"
          class="border rounded py-2 px-3 mb-4"
          placeholder="Tavs e-pasts pasūtījumu veikšanai.."
          (input)="validateEmail(user.email)"
        />
        <label for="nickname" class="block mb-2 text-lg text-black">
          Visiem Rojālajiem
          <span class="text-red-600">-15% ATLAIDE</span>
        </label>
        <input
          id="nickname"
          name="nickname"
          type="text"
          class="border rounded py-2 px-3 mb-4"
          placeholder="Tavs Rojālais segvārds šeit.."
        />

        <button
          (click)="processOrder()"
          id="order-button"
          [ngClass]="{'shake-animation': !user.emailValidated}"
          class="bg-orange-400 hover:bg-orange-500 text-white py-2 px-4 rounded h-20 text-3xl font-black font-serif"
        >
          Pasūtīt
        </button>
      </form>
      -
    </div>
  </div>
</div>

<app-other-products [otherProducts]="products" (productClick)="scrollToProductContainer($event)"></app-other-products>
