<div #productContainer class="768:grid grid-cols-[490px,234px] gap-3 max-w-[734px]">
  <!-- image section -->

  <app-carousel
    [selected]="selected"
    (onBack)="back()"
    (onForward)="forward()"
    (onSwipeEnd)="swipeEnd($event)"
    (onSwipeStart)="swipeStart($event)"
  ></app-carousel>

  <!-- order section -->
  <app-buy-box
    class="place-self-center mt-8"
    [user]="user"
    [selected]="selected"
    (onBack)="back()"
    (onForward)="forward()"
    (onProcessOrder)="processOrder()"
    (onSelectSize)="selectSize($event)"
    (onValidateEmail)="validateEmail($event)"
  ></app-buy-box>
</div>

<div class="max-w-screen-1024">
  <app-description class="mt-20 flex"></app-description>

  <app-product-details></app-product-details>

  <!--  -->
  <app-reviews></app-reviews>
  @defer (on timer(1000)) {

  <app-other-products
    class="grid mt-10"
    [currentProductId]="id"
    (productClick)="scrollToProductContainer($event)"
  ></app-other-products>
  }
</div>
