.product-container {
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.product-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* If you have a specific class for the image and order menu, you can replace .product-container with that class */

:host {
  text-align: -webkit-center;
  // max-width: 1000px;
}
/* other */

.product-card {
  font-family: 'Arial', sans-serif;
  // background: radial-gradient(circle at center, lightgray, transparent);
  // padding: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.product-name {
  // color: gray; /* Light gray */
  font-size: 1.3em;
  margin-bottom: 10px;
  // text-shadow: 0.5px 0.5px 1px pink; /* Optional: for better readability */
}

.product-price {
  color: #0077b6;
  font-weight: bold;
  // text-shadow: 0.5px 0.5px 1px pink; /* Optional: for better readability */
}

.hover-effect {
  transition: all 0.3s ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
