<div
  #productContainer
  class="product-container flex flex-col justify-center mt-1 shadow-2xl shadow-pink-300 768:grid grid-col-[1fr,320px]"
>
  <!-- image section -->
  <app-carousel
    [selected]="selected"
    (onBack)="back()"
    (onForward)="forward()"
    (onSwipeEnd)="swipeEnd($event)"
    (onSwipeStart)="swipeStart($event)"
  ></app-carousel>
  <!-- order section -->
  <app-buy-box
    [user]="user"
    [selected]="selected"
    (onBack)="back()"
    (onForward)="forward()"
    (onProcessOrder)="processOrder()"
    (onSelectSize)="selectSize($event)"
    (onValidateEmail)="validateEmail($event)"
  ></app-buy-box>
</div>

<app-other-products
  [currentProductId]="id"
  [otherProducts]="products"
  (productClick)="scrollToProductContainer($event)"
></app-other-products>
