<div class="container mx-auto p-4 bg-white shadow-md rounded">
  <form (ngSubmit)="onSubmit()" class="space-y-4">
    <!-- add Product Category -->
    <div>
      <label for="category" class="block text-gray-700 text-sm font-bold mb-2">Product Category:</label>
      <input
        type="text"
        id="category"
        [(ngModel)]="product.category"
        name="category"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <!-- add Product Name -->
    <div>
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Product Name:</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="product.name"
        name="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>
    <!-- add product color -->
    <div>
      <label for="color" class="block text-gray-700 text-sm font-bold mb-2">Product Color:</label>
      <input
        type="text"
        id="color"
        [(ngModel)]="product.color_name"
        name="color"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <!-- Sizes Grid -->
    <div id="size-selector" class="grid grid-cols-1 place-items-start">
      <ng-container *ngFor="let item of product.sizes; let i = index">
        <div class="flex flex-row text-center gap-4 items-center place-self-center">
          <!-- Button to display size and toggle availability -->
          <button
            (click)="toggleAvailable(item)"
            [ngClass]="{
              'bg-pink-600 text-white border-pink-600': item.available,
              'text-slate-300 border-slate-300': !item.available
            }"
            class="text-lg font-[900] hover:scale-105 duration-300 ease-in-out border-2 rounded-none flex items-center justify-center h-9 w-16 transition"
          >
            {{ item.size }}
          </button>

          <!-- Price -->
          <div class="flex flex-row text-center items-center gap-4">
            <label for="price{{ i }}" class="block text-gray-700 text-sm font-bold mb-2">Price</label>
            <input
              type="text"
              id="price{{ i }}"
              [(ngModel)]="item.price"
              (blur)="formatPrice(item)"
              name="price{{ i }}"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center"
              placeholder="0.00"
            />
            <span class="text-gray-700">{{ product.currency }}</span>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Image Upload with Preview -->
    <div>
      <label for="images" class="block text-gray-700 text-sm font-bold mb-2">Images:</label>
      <input type="file" id="images" (change)="onFileChange($event)" multiple class="mb-4" />
      <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let image of product.images; let i = index" class="w-full">
          <img [src]="image" class="w-full h-auto border rounded" alt="Product Image {{ i + 1 }}" />
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div>
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Submit
      </button>
    </div>
  </form>
</div>
